<nav class="author-nav">
  <div class="container">
    <div class="col-xs-4">
      Welcome, <strong>Kimmy Andersson</strong>!
    </div>
    <div class="col-xs-8 text-right">
      <ul>
        <li><a href="#" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
        <li><a href="#" title="Website Settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li><a href="#" title="User Settings"><span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

