<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> | SolarPhase</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <% include users/navigation %>

  <div class="container">
    <div class="row">
      <nav class="col-xs-3 website-nav">
        <% include shared/navigation %>
      </nav>
      <div class="col-xs-9">
        <% include shared/flash-message %>
        <%- body %>
      </div>
    </div>
  </div>

  <% include shared/footer %>
  <script type="text/javascript" src="/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
</body>
</html>

