<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SolarPhase</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <% include author/navigation %>

  <div class="container">
    <div class="row">
      <nav class="col-xs-3 website-nav">
        <% include website/navigation %>
      </nav>
      <div class="col-xs-9">
        <%- body %>
      </div>
    </div>
  </div>
</body>
</html>

