<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= globals.linkedPage.title %> | SolarPhase</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <% include users/navigation %>

  <div class="container">
    <div class="row">
      <nav class="col-xs-3 website-nav">
        <% include website/navigation %>
      </nav>
      <div class="col-xs-9">
        <% include website/flash-message %>
        <%- body %>
      </div>
    </div>
  </div>

  <% include website/footer %>
</body>
</html>

