<% var isActive = active.indexOf(item.id) > -1; %>
<li class="<%= isActive ? 'active' : '' %>">
  <a href="<%= item.url %>"><%= item.title %></a>
  <% if (item.Children) { %>
    <ul>
      <% for (var i = 0; i < item.Children.length; i++) { %>
        <%- partial('website/navigation-item', {item:item.Children[i]}) %>
      <% } %>
    </ul>
  <% } %>
</li>

