<% var active = globals.active.indexOf(item.id) > -1; %>
<li class="<%= active ? 'active' : '' %>">
  <a href="<%= item.url %>"><%= item.title %></a>
  <% if (active && item.Children) { %>
    <ul>
      <% for (var i = 0; i < item.Children.length; i++) { %>
        <%- partial('website/navigation-item', {item:item.Children[i].values}) %>
      <% } %>
    </ul>
  <% } %>
</li>

