<div class="logo text-center">
  <a href="/"><img src="/img/logo.png" alt="SolarPhase"></a>
</div>

<hr/>

<nav>
  <ul>
    <% for (var i = 0; i < navigation.length; i++) { %>
      <% var item = navigation[i]; %>
      <%- partial('website/navigation-item', {item: item}); %>
    <% } %>
  </ul>
</nav>

