<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete the '<%= page.title %>' page?</p>
    <hr/>
    <form action="/admin/pages/<%= page.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE"/>
      <div class="form-group text-right">
        <a class="btn btn-sm btn-default" href="/admin/pages">Cancel</a>
        <button class="btn btn-sm btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>

