<nav class="author-nav">
  <div class="container">
    <div class="col-xs-4">
      Welcome, <strong>Kimmy Andersson</strong>!
    </div>
    <div class="col-xs-8 text-right">
      <ul>
        <li><a href="#" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
        <li>
          <a href="/admin/users" title="Users">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li>
          <a href="/admin/pages" title="Pages">
            <span class="glyphicon glyphicon-duplicate"></span>
          </a>
        </li>
        <li>
          <a href="/admin/navigation" title="Navigation">
            <span class="glyphicon glyphicon-list"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

